@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);
@import url(https://fonts.googleapis.com/css?family=Codystar);
* { margin:0; padding:0; box-sizing:border-box; }

h1{
	font-family: 'Codystar', cursive;
	background-color:#DCF900;
	font-weight: bold;
	font-size:2em;
	color: #3eac98;
	font-weight: bold;
	letter-spacing: .2em;
	text-align: center;	
	padding:.2em;
}

h2{
	font-family:'Open Sans', sans-serif;
	font-size: 1em;
	color:#3eac98;
	letter-spacing: .18em;
	text-align: center;	
	padding:1em;
/*how do i format the image? (center it and put text over the image, so it is focal point 
	with a bottom border that has descriptive text)*/
}

body {
	background-color:#fde2a5;
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	text-align:justify;
	
}

p{
	font-family:'Open Sans', sans-serif;
	font-size: .75em;
	margin-left: 15em;
	margin-right: 15em;
}
/*what is the difference between padding and margin?*/
.Sparkle {
	
	font-size:40px;
	font-family:impact;
	text-transform: uppercase;
	letter-spacing: .2em;
	/*margin-left: 4em;
	margin-right: 4em;*/
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
	
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}
/*#description{
	margin-top:auto;
	text-align: justify;
	width:30em;
}*/

p{
	margin-top: 1em;
}

ul{
	/*why won't this change?*/
	font-size .75em; 
	margin:auto;
	width:10em;
	margin-bottom: 2em;
	color:#eb24db;
	/*i need a box around this or somthing, how do i do that?*/
}

footer{
	background-color:#DCF900;
	/*why is Baltimore italisized and why is my Contact Me scooted over right?*/
}
/*a{
	color:#eb24db;
	 
}*/
a:link {
	color:#eb24db;
	text-decoration: none;
}
/*a:visited*/
a:hover{
	color: #3eac98;
}
/*a:active*/
