@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);
@import url(https://fonts.googleapis.com/css?family=Codystar);
* { margin:0; padding:0; box-sizing:border-box; }

.wrapper{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

header{
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

.pouches{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.description{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.workshops{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}